<div class="container " id="listing-container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Property</th>
          <th>Property</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% bookings.each do |booking|%>
          <tr>
            <td><%= booking.booking_date %></td>
            <td><%= booking.property.property_name %></td>
            <td>
              <%= booking.booking_for%>
            </td>
            <td><%= booking.booking_status %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
