<div class="container-fluid px-4 " id="listing-container">
  <% if rented_properties.any? %>
    <div class="table-responsive rounded-4">
      <table class="table">
        <thead>
          <tr>
            <th>Images</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <% rented_properties.each do |property|%>
                <tr>
                  <td><%= property.property_name%></td>
                  <td><%= property.property_status %></td>
                </tr>
            <%end%>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="row my-auto">
      <h1>No Rented Propeties</h1>
    </div>
  <%end%>
</div>
