<div class="container " id="listing-container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Images</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% rented_properties.each do |property|%>
<<<<<<< Updated upstream
          <tr>
            <td><%= property.property.property_name%></td>
            <td><%= property.property.property_status %></td>
          </tr>
=======
          <% if property.done? %>
            <tr>
              <td><%= property.property.property_name%></td>
              <td><%= property.property.property_status %></td>
            </tr>
          <%end%>
>>>>>>> Stashed changes
        <%end%>
      </tbody>
    </table>
  </div>
</div>
