<div class="container " id="listing-container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Images</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% rented_properties.each do |property|%>
          <tr>
            <td><%= property.property.property_name%></td>
            <td><%= property.property.status %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
