<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload"%>
<%end%>

<div class="container-fluid ">
  <div class="row dashboard-container p-2 bg-dark ">
    <div class="col-md-2 right-pane border-opacity-10 d-flex p-0  text-light">
      <ul class="dashboard-side-menu p-0 mt-5">
        <li>
          <button class="btn dashboard-btn " data-bs-dashboard="dashboard" id="" >Dashboard</button>
        </li>
        <li>
          <button class="btn dashboard-btn " data-bs-properties="properties" id="" >My properties</button>
        </li>
        <li>
          <button class="btn dashboard-btn" data-bs-rented-property="properties">Rented Property</button>
        </li>
        <li>
          <button class="btn dashboard-btn" data-bs-Rent="rent" id="" >Rent</button>
        </li>
      </ul>
    </div>
    <div class="col-md-10 left-pane bg-light h-100 rounded-5 p-2">

      <div id="listings">
        <% if current_user.properties && current_user.has_role?(:landlord) %>
          <%= render "listings", properties: current_user.properties %>
        <%end%>
      </div>

      <div class="dashboard" id="dashboard">
        <%= render partial: "dashboard"%>
      </div>

      <div id="booking-list">
      </div>
    </div>
  </div>
</div>