<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "properties", "data-turbo-track": "reload" %>
<% end %>
<div class="container-fluid">
  <div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-white">
					<h2 class="text-white">Properties</h2>
				</div>
			</div>
		</div>
	</div>
  <div id="features" class="section">
    <div class="container">
      <div class="section-title row text-center">
        <div class="col-md-8 col-md-offset-2 mx-auto ">
          <small>All Awesome Property Details</small>
          <h3 class="mt-2">Property Details</h3>
          <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Property List Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                  <div class="row g-4">
                    <% if @properties.any? %>
                      <%= render partial: "property_card", property: @properties %>
                    <% else %>
                      <h2 class="text-center">No Property Listed</h2>
                    <%end%>
                  </div>
              </div>
          </div>
      </div>
    </div><!-- Property List End -->
</div>