<div class="container-fluid home-container">
  <div class="container hero-container">
    <div class="row align-items-center justify-content-center h-100 my-auto">
      <div class="col-md-5 right-pane ">
        <h1 class="title">
          Modern & Contemporary.
          Find A Perfect Home To Live With Your Family
        </h1>
        <p class="subtitle">We list luxury homes for sale across North America and Europe.</p>
      </div>
      <div class="col-md-6 left-pane">
        <div id="hero-crousel" class="carousel slide carousel-fade w-100 h-100" data-bs-ride="carousel">
          <div class="carousel-inner w-100 h-100">
            <div class="carousel-item active w-100 h-100">
              <img src="https://assets.softr-files.com/applications/5aaf209b-1cbd-486e-bfbf-3285644369a1/assets/961718dc-ccdb-466a-ac86-d1e5909d060e.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item w-100 h-100">
              <img src="https://cdn.pixabay.com/photo/2013/12/07/02/03/new-york-224398_640.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item w-100 h-100">
              <img src="https://cdn.pixabay.com/photo/2017/10/03/23/52/cologne-2814666_640.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container my-5">
    <h1 class="text-center">Featured Properties</h1>
    <div class="row">

    </div>
  </div> -->
</div>