<!--<%= render "payment_form", resource: @payment, resource_payments_path: deposit_payments_path(@deposit)%> -->

<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable">
  <%= render "payment_form", resource: @payment, resource_payments_path: deposit_payments_path(@deposit)%>
</div>