.all-title-box{
	background: url("https://images.pexels.com/photos/19542237/pexels-photo-19542237/free-photo-of-bungalows-in-row.jpeg?auto=compress&cs=tinysrgb&w=6007");
  background-position: center;
  background-size: cover;
	position: relative;
	padding: 200px 0 70px 0px;
	margin-bottom: 0px;
}

.all-title-box::before{
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.all-title-box .container{
	position: relative;
}

.all-title-box h2{
	color: #ffffff;
	padding: 0px;
	font-size: 40px;
	font-weight: 600;
}

/* ================ Property Card ============================ */
.property-card {
  background: #fff;
  text-align: left;
  width: 100%;
  float: left;
  transition: 0.3s linear;
  height: 650px;
}
.property-card:hover{
  -webkit-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5) !important;
}
.property-card figure {
  margin-bottom: 0;
  position: relative;
  height: 40%;
}
.property-card figure img {
  margin-bottom: 0;
  height: 100%;
  object-fit: cover;
}
.property-card figure .tag {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 10px;
  background: #2c2c2c;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  text-decoration: none;
}
.property-card .fh5co-property-specification {
  border-top: 1px solid #f0f0f0;
  background: #f7f7f7;
  padding: 15px 30px 15px 30px;
  font-size: 13px;
  margin-bottom: 0;
}
.property-card .fh5co-property-specification > span {
  margin-right: 10px;
}
.property-card .fh5co-property-specification > span strong {
  color: #383838;
}
.property-card .fh5co-property-innter {
  padding: 30px 30px 30px 30px;
}
.property-card .fh5co-property-innter p {
  color: #96a0ae;
}
.property-card .fh5co-property-innter p:last-child {
  margin-bottom: 0;
}
.property-card .fh5co-property-innter h3 {
  margin-bottom: 20px;
}
.property-card .fh5co-property-innter h3 a:hover, .property-card .fh5co-property-innter h3 a:active, .property-card .fh5co-property-innter h3 a:focus {
  text-decoration: none;
}
.property-card .price-status {
  margin-bottom: 20px;
}
.property-card .price-status .price {
  font-size: 28px;
  color: #134f5e;
  margin-bottom: 10px;
  position: relative;
}
.property-card .price-status .price .per {
  font-size: 12px;
  text-transform: uppercase;
}
/* =========================== Porperty show style =====================================*/
.property-info h3{
  font-size: 50px;
  font-weight: 700 !important;
}

.property-info small{
  color: darkgrey;
}

.progress{
  height: 10px !important;
}