:root{

  --main-black-color: #333333;
}

/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

input, textarea{
  border: 0.1px solid rgb(124, 124, 124) !important;
}

.sub_residential_property_type input[type="radio"] + label{
  border: 0.5px solid darkgray;
}
body{
  display: flex !important;
  flex-direction: column !important;
}

.content{
  flex:1 !important;
}
.container-fluid{
  padding:0 !important;
}

/* =============== COMMON CSSS ============================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: var(--main-black-color) !important;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

.section{
  margin: 50px 0;
}

.section-title {
  display: block;
  position: relative;
  margin-bottom: 60px;
}

.section-title p {
  color: #999;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
}

.section-title h3 {
  font-size: 42px;
  font-weight: 300;
  line-height: 62px;
  margin: 0 0 25px;
  padding: 0;
  text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
  color: #ffffff;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}
/* properties======================================================== */






/* properties inner page  */




/* ======================= */


.footer {
  padding: 90px 0 80px !important;
  color: #999;
  background-color: #333333;
}

.footer .widget-title {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.footer .widget-title small {
  color: #999;
  display: block;
  padding: 0 58px;
  text-transform: uppercase;
}

.footer .widget-title h3 {
  color: #fff;
  font-weight: 300;
  font-size: 21px;
  padding: 0;
  margin: 0;
  line-height: 1 !important;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #999;
  display: block;
  text-decoration: none;
}

.footer-links a:hover,
.footer a:hover {
  color: #ffffff;
}

.footer-links li {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.twitter-widget li {
  margin-bottom: 0;
  border: 0 !important;
}

.twitter-widget li i {
  border-right: 0 !important;
  margin-right: 0;
}

.footer-links li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

.footer-links i {
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.copyrights {
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  background-color: #393939;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 30px 0px;
  overflow: hidden;
}

.dmtop.show {
  bottom: 20px;
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

.footer-distributed .footer-links {
  margin: 0 0 10px;
  text-transform: uppercase;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

.footer-distributed .footer-company-name {
  font-weight: 300;
  margin: 0 10px;
  color: #666;
  padding: 20px 0px;}


/* Footer right */

.footer-distributed .footer-right {
  float: right;
}


/* The search form */

.footer-distributed form {
  position: relative;
}

.footer-distributed form input {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #181818;
  border: none;
  font: inherit;
  font-size: 15px;
  font-weight: normal;
  color: #999;
  width: 400px;
  padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
  outline: none;
}


/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
  color: #999;
}

.footer-distributed form input::-moz-placeholder {
  opacity: 1;
  color: #999;
}

.footer-distributed form input:-ms-input-placeholder {
  color: #999;
}


/* The magnify glass icon */

.footer-distributed form i {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 18px;
  color: #999;
  font-size: 18px;
  margin-top: 6px;
}

.footer-distributed .footer-company-name a{
color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
color: #a8cf45;
}